node_modules
dist
.DS_Store
.env
.vscode

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

cv/cv.html
cv/Resume of Jayaram Kasi Visweswaran.pdf

# Playwright
test-results
playwright-report
blob-report
playwright/.cache